@import url('https://fonts.googleapis.com/css2?family=Anton&family=Belanosima:wght@400;700&family=Lilita+One&family=Open+Sans:wght@400;700;800&family=Roboto:ital,wght@0,700;0,900;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    /* border: 1px solid; */
}

body,
html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: min(35%, 350px) repeat(3, 1fr);
    grid-template-rows: 100px repeat(3, 1fr);
}

/* Header */

.header {
    grid-row: 1;
    grid-column: 1 / 5;
    background-color: #f1faee;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 6px rgb(169, 166, 166);
}
.header h1 {
    font-weight: 800;
}

/* Sidebar */

.sidebar {
    grid-row: 2 / 5;
    background-color: #a8dadc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 12px;
}
.sidebar h2 {
    padding: 7px 50px;
    border-bottom: 1px solid;
}
.project-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.project-container a {
    font-size: 18px;
    text-decoration: none;
    padding: 6px 16px;
    color: black;
}
.project-container a:hover {
    background-color: #f1faee;
}
.sidebar form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.sidebar input {
    padding: 6px 4px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 16px;
}

.sidebar input:first-child {
    padding-left: 15px;
}
input:focus::placeholder {
    opacity: 0.6;
}
.sidebar button {
    padding: 6px 0;
    font-size: 16px;
    background-color: #1d3557;
    color: white;
    border: none;
    border-radius: 16px;
}
/* Main */

.main {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    padding: 30px;
}

.todos {
    /* display: none; */
}

.todo-list {
    display: flex;
    flex-direction: column;
}
.todo-list > div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1faee;
    padding: 12px;
}
.todo-elements {
    display: flex;
    align-items: center;
}
.todo-list p {
    display: inline-block;
}
.todo-list label {
    font-weight: 100;
}
.todo-list svg {
    width: 30px;
}
.todo-list button {
    background: none;
    border: none;
}
.todos > button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 40px;
    border: none;
    color: white;
    background-color: #2b2d42;
}

.create-todo {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #415a77;
    border-radius: 12px;
    display: none;
}
.create-todo input,
.create-todo textarea,
.create-todo select{
    padding: 8px;
    background-color: /* #e5e5e5 */ white;
    border: none;
    outline: none;
    border-radius: 3px;
}
.create-todo label {
    color: white;

}
.create-todo button {
    font-size: 16px;
    padding: 6px 0;
    background-color: white;
    border: 1px solid;
}
.create-todo div{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 3px;
}
